# Filter data using pandas module

In [1]:
import pandas as pd

people = {
    "first":["Corey", "Jane", "John"],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CoreyMSchafer@gmail.com", "janeDoe@gmail.com", "JohnDoe@email.com"]
}

df = pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        janeDoe@gmail.com
2   John      Doe        JohnDoe@email.com

### Filter

In [2]:
filt = df['last'] == "Doe" 
print(filt)

0    False
1     True
2     True
Name: last, dtype: bool

### Use filter without loc

In [3]:
df[filt]

  first last              email
1  Jane  Doe  janeDoe@gmail.com
2  John  Doe  JohnDoe@email.com

### Use filter in loc

In [4]:
df.loc[filt]

  first last              email
1  Jane  Doe  janeDoe@gmail.com
2  John  Doe  JohnDoe@email.com

### Select spcified column only with Filter

In [5]:
df.loc[ filt, 'email' ]

1    janeDoe@gmail.com
2    JohnDoe@email.com
Name: email, dtype: object

### Invert filter

In [6]:
df.loc[~filt, 'email']

0    CoreyMSchafer@gmail.com
Name: email, dtype: object

### Select spcified multiple columns only with Filter

In [7]:
df.loc[filt, ['email', 'first']]

               email first
1  janeDoe@gmail.com  Jane
2  JohnDoe@email.com  John