# Dummy data available in `tensorflow_datasets` module

In [1]:
# import tensorflow_datasets
import tensorflow_datasets as tfds
import pandas as pd

In [2]:
# Get list of datasets
tfds.list_builders()

['abstract_reasoning',
 'aflw2k3d',
 'amazon_us_reviews',
 'bair_robot_pushing_small',
 'bigearthnet',
 'binarized_mnist',
 'binary_alpha_digits',
 'caltech101',
 'caltech_birds2010',
 'caltech_birds2011',
 'cats_vs_dogs',
 'celeb_a',
 'celeb_a_hq',
 'chexpert',
 'cifar10',
 'cifar100',
 'cifar10_corrupted',
 'clevr',
 'cnn_dailymail',
 'coco',
 'coco2014',
 'coil100',
 'colorectal_histology',
 'colorectal_histology_large',
 'curated_breast_imaging_ddsm',
 'cycle_gan',
 'deep_weeds',
 'definite_pronoun_resolution',
 'diabetic_retinopathy_detection',
 'downsampled_imagenet',
 'dsprites',
 'dtd',
 'dummy_dataset_shared_generator',
 'dummy_mnist',
 'emnist',
 'eurosat',
 'fashion_mnist',
 'flores',
 'food101',
 'gap',
 'glue',
 'groove',
 'higgs',
 'horses_or_humans',
 'image_label_folder',
 'imagenet2012',
 'imagenet2012_corrupted',
 'imdb_reviews',
 'iris',
 'kitti',
 'kmnist',
 'lfw',
 'lm1b',
 'lsun',
 'mnist',
 'mnist_corrupted',
 'moving_mnist',
 'multi_nli',
 'nsynth',
 'omniglot',
 'open_images_v4',
 'oxford_flowers102',
 'oxford_iiit_pet',
 'para_crawl',
 'patch_camelyon',
 'pet_finder',
 'quickdraw_bitmap',
 'resisc45',
 'rock_paper_scissors',
 'rock_you',
 'scene_parse150',
 'shapes3d',
 'smallnorb',
 'snli',
 'so2sat',
 'squad',
 'stanford_dogs',
 'stanford_online_products',
 'starcraft_video',
 'sun397',
 'super_glue',
 'svhn_cropped',
 'ted_hrlr_translate',
 'ted_multi_translate',
 'tf_flowers',
 'titanic',
 'trivia_qa',
 'uc_merced',
 'ucf101',
 'visual_domain_decathlon',
 'voc2007',
 'wikipedia',
 'wmt14_translate',
 'wmt15_translate',
 'wmt16_translate',
 'wmt17_translate',
 'wmt18_translate',
 'wmt19_translate',
 'wmt_t2t_translate',
 'wmt_translate',
 'xnli']

In [3]:
# Pick any dataset from the list & find dataset info.
ds = tfds.builder('titanic')
ds.info
# Inside DatasetInfo object find homepage or url tag to download csv data manually.

tfds.core.DatasetInfo(
    name='titanic',
    version=1.0.0,
    description='Dataset describing the survival status of individual passengers on the Titanic. Missing values in the original dataset are represented using ?. Float and int missing values are replaced with -1, string missing values are replaced with 'Unknown'.',
    urls=['https://www.openml.org/d/40945'],
    features=FeaturesDict({
        'features': FeaturesDict({
            'age': Tensor(shape=(), dtype=tf.float32),
            'boat': Tensor(shape=(), dtype=tf.string),
            'body': Tensor(shape=(), dtype=tf.int32),
            'cabin': Tensor(shape=(), dtype=tf.string),
            'embarked': ClassLabel(shape=(), dtype=tf.int64, num_classes=4),
            'fare': Tensor(shape=(), dtype=tf.float32),
            'home.dest': Tensor(shape=(), dtype=tf.string),
            'name': Tensor(shape=(), dtype=tf.string),
            'parch': Tensor(shape=(), dtype=tf.int32),
            'pclass': ClassLabel(shape=(), dtype=tf.int64, num_classes=3),
            'sex': ClassLabel(shape=(), dtype=tf.int64, num_classes=2),
            'sibsp': Tensor(shape=(), dtype=tf.int32),
            'ticket': Tensor(shape=(), dtype=tf.string),
        }),
        'survived': ClassLabel(shape=(), dtype=tf.int64, num_classes=2),
    }),
    total_num_examples=1309,
    splits={
        'train': 1309,
    },
    supervised_keys=('features', 'survived'),
    citation="""@ONLINE {titanic,
    author = "Frank E. Harrell Jr., Thomas Cason",
    title  = "Titanic dataset",
    month  = "oct",
    year   = "2017",
    url    = "https://www.openml.org/d/40945"
    }""",
    redistribution_info=,
)

In [4]:
# Find data.csv donwload link in that webpage. And read csv using pandas dataFrame
df = pd.read_csv('https://www.openml.org/data/get_csv/16826755/phpMYEkMl')
df
# OpenML(https://www.openml.org/) is a good open source resource of csv data.

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [5]:
df = tfds.builder('diabetic_retinopathy_detection')
df.info

tfds.core.DatasetInfo(
    name='diabetic_retinopathy_detection',
    version=2.0.0,
    description='A large set of high-resolution retina images taken under a variety of imaging conditions.',
    urls=['https://www.kaggle.com/c/diabetic-retinopathy-detection/data'],
    features=FeaturesDict({
        'image': Image(shape=(None, None, 3), dtype=tf.uint8),
        'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=5),
        'name': Text(shape=(), dtype=tf.string),
    }),
    total_num_examples=88712,
    splits={
        'sample': 10,
        'test': 42670,
        'train': 35126,
        'validation': 10906,
    },
    supervised_keys=None,
    citation="""@ONLINE {kaggle-diabetic-retinopathy,
        author = "Kaggle and EyePacs",
        title  = "Kaggle Diabetic Retinopathy Detection",
        month  = "jul",
        year   = "2015",
        url    = "https://www.kaggle.com/c/diabetic-retinopathy-detection/data"
    }""",
    redistribution_info=,
)

In [8]:
df = tfds.builder('coco')
df.info

tfds.core.DatasetInfo(
    name='coco',
    version=1.0.0,
    description='COCO is a large-scale object detection, segmentation, and
captioning dataset. This version contains images, bounding boxes "
and labels for the 2014 version.
Note:
 * Some images from the train and validation sets don't have annotations.
 * Coco 2014 and 2017 uses the same images, but different train/val/test splits
 * The test split don't have any annotations (only images).
 * Coco defines 91 classes but the data only uses 80 classes.
 * Panotptic annotations defines defines 200 classes but only uses 133.
',
    urls=['http://cocodataset.org/#home'],
    features=FeaturesDict({
        'image': Image(shape=(None, None, 3), dtype=tf.uint8),
        'image/filename': Text(shape=(), dtype=tf.string),
        'image/id': Tensor(shape=(), dtype=tf.int64),
        'objects': Sequence({
            'area': Tensor(shape=(), dtype=tf.int64),
            'bbox': BBoxFeature(shape=(4,), dtype=tf.float32),
            'is_crowd': Tensor(shape=(), dtype=tf.bool),
            'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=80),
        }),
    }),
    total_num_examples=245496,
    splits={
        'test': 40775,
        'test2015': 81434,
        'train': 82783,
        'validation': 40504,
    },
    supervised_keys=None,
    citation="""@article{DBLP:journals/corr/LinMBHPRDZ14,
      author    = {Tsung{-}Yi Lin and
                   Michael Maire and
                   Serge J. Belongie and
                   Lubomir D. Bourdev and
                   Ross B. Girshick and
                   James Hays and
                   Pietro Perona and
                   Deva Ramanan and
                   Piotr Doll{'{a}}r and
                   C. Lawrence Zitnick},
      title     = {Microsoft {COCO:} Common Objects in Context},
      journal   = {CoRR},
      volume    = {abs/1405.0312},
      year      = {2014},
      url       = {http://arxiv.org/abs/1405.0312},
      archivePrefix = {arXiv},
      eprint    = {1405.0312},
      timestamp = {Mon, 13 Aug 2018 16:48:13 +0200},
      biburl    = {https://dblp.org/rec/bib/journals/corr/LinMBHPRDZ14},
      bibsource = {dblp computer science bibliography, https://dblp.org}
    }""",
    redistribution_info=,
)